:repo: 'faizalzakaria/test_release'
:access_token: 'abc'
:release_manager: 'fai'
:notifiers:
  :slack:
    :enabled: true
    :webhook_url: 'https://hooks.slack.com/services/abc'
    :channel: '#news'
  :stdout:
    :enabled: true
